@{
    ViewData["Title"] = "Boot Camp";
    Layout = "_BootCampLayout";
}

<section class="bg-dark p-5 p-lg-0 pt-lg-2 text-light text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>
                    Become a
                    <span class="text-warning">.NET Developer</span>
                </h1>
                <p class="lead my-3">
                    We focus on teaching our students the fundamentals of the latest and gratest technologies to
                    prepare them for their first dev role.
                </p>
                <button class="btn btn-warning lg">Start the enrollment</button>
            </div>

            <img src="~/images/showcase.svg" alt="" asp-append-version="true" class="img-fluid w-50 d-none d-sm-block">
        </div>
    </div>
</section>

<!-- Newsletter-->
<section class="bg-primary text-light p-5">
    <div class="container d-md-flex justify-content-between align-items-center">
        <h3 class="mb-3 mb-md-0">
            Sign Up For Our Newsletter
        </h3>

        <div class="input-group news-input">
            <input type="text" class="form-control" placeholder="Enter email">
            <button class="btn btn-warning btn-lg" type="button">Subscribe</button>
        </div>
    </div>
</section>

<!-- Boxes-->

<section class="p-5">
    <div class="container ">
        <div class="row text-center gap-2">         
            <div class="col-md">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <div class="h2">
                            <i class="bi bi-1-square-fill"></i>
                        </div>
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <div class="h2">
                            <i class="bi bi-2-square"></i>
                        </div>
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="button" class="btn btn-dark">Dark</button>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <div class="h2">
                            <i class="bi bi-3-square-fill"></i>
                        </div>
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
